/* Estilos generales */
* {
  margin: 0;
  padding: 0;
}

body {
  background-image: url("../assets/background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center top;
  background-attachment: fixed;
}

h1, h2, h3 {
  color: #fff;
}

h1 {
  text-decoration: underline;
  font-weight: bold;
}

/* Estilos Header ------------------------ */
.logo-pagina {
  width: 4.688rem;
  height: 4.688rem;
  padding: 0;
  margin: 0;
}

.container-ul {
  display: flex;
}
.container-ul li a {
  font-size: 18px;
  font-family: "Times New Roman", Times, serif;
  font-weight: 600;
}

main {
  margin: 10px;
  padding: 20px;
}

/* Estilos Footer ----------------------------------- */
.footer {
  background-color: #fff;
  color: #000;
  padding: 20px 0;
}
.footer p {
  margin: 0;
  text-align: left;
  font-size: 18px;
}
.footer .social-icons {
  list-style: none;
  padding: 0;
  margin: 0;
  text-align: center;
}
.footer .social-icons li {
  display: inline-block;
  margin: 0 5px;
}
.footer .social-icons a {
  color: #000;
  font-size: 28px;
  margin: 5px 20px;
}
.footer .social-icons a:hover {
  color: #707070;
}
@media (max-width: 767px) {
  .footer .row {
    flex-direction: column-reverse;
  }
  .footer .col-md-6 {
    width: 100%;
  }
  .footer .social-icons {
    text-align: center;
  }
  .footer .social-icons li {
    margin: 5px 0;
  }
}

/* Estilos btn-arrow-up */
.btn-arrow-up {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: rgb(98, 211, 255);
  color: #fff;
  padding: 10px;
  border-radius: 50%;
  cursor: pointer;
  display: none;
}

/* Estilos Section Dorsales --------------------------------- */
.transform-class:hover {
  transform: scale(1.1);
  transition: 1s;
}
.transform-class .container-img-dorsales {
  padding: 10px;
  background-color: #fff;
}
.transform-class .container-img-dorsales p {
  font-size: 20px;
  font-weight: bolder;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
}
.transform-class .img-dorsales {
  width: 380px;
  height: 280px;
}

/* Estilos Section Video ------------------------------- */
.container-iframe {
  position: relative;
  padding-bottom: 56.25%;
  overflow: hidden;
  margin: 1.5rem;
}
.container-iframe iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 8px;
}

/* Estilos Biografia ------------------------------------- */
.section-style-bio h4 {
  text-decoration: underline;
  font-style: italic;
}
.section-style-bio p {
  font-weight: bold;
}
.section-style-bio img {
  width: 80%;
}

/* Estilos Estadisticas ------------------------------------ */
.section-stats {
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  margin-bottom: 20px;
}
.section-stats h3 {
  color: #000;
  font-size: 24px;
  margin-bottom: 10px;
  text-align: center;
}
.section-stats .container-images {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
  margin-bottom: 10px;
}
.section-stats .container-images img {
  max-width: 100%;
  height: auto;
  border-radius: 8px;
  margin-bottom: 10px;
}
.section-stats table {
  border-collapse: collapse;
  margin-bottom: 10px;
}
.section-stats .container-logo-stats {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
}
.section-stats .container-logo-stats .logo-stats {
  max-width: 100%;
  height: auto;
  max-height: 200px;
  margin: 5px 0 10px 0;
  padding: 0;
}

/* Estilos Titulos -------------------------------- */
.section-introduccion {
  font-size: 1.4rem;
  color: #fff;
  padding: 5px 5px;
  margin: 15px 0;
  font-weight: 400;
}
.section-introduccion p {
  font-weight: 500;
  font-style: italic;
}

.section-titulos {
  background-color: #fff;
  border-radius: 4px;
  margin: 50px 10px 20px 10px;
  padding: 10px;
}
.section-titulos h2 {
  font-family: Georgia, "Times New Roman", Times, serif;
  margin: 20px 0 0 10px;
  color: #000;
}

/* Estilos diferentes para las cartas de cada equipo ------------ */
.card-arg {
  background-color: rgb(75, 185, 248);
  text-align: center;
  margin: 10px;
  padding: 10px;
  flex: 1;
  color: #000;
  border-radius: 8px;
}
.card-arg p {
  color: #fff;
  font-weight: bold;
}
.card-arg .trofeo-name {
  font-size: 24px;
  margin-bottom: 5px;
}
.card-arg .trofeo-year {
  font-size: 16px;
}

.card-barca {
  background-color: rgb(228, 20, 20);
  text-align: center;
  margin: 10px;
  padding: 10px;
  flex: 1;
  color: #000;
  border-radius: 8px;
}
.card-barca p {
  color: #fff;
  font-weight: bold;
}
.card-barca .trofeo-name {
  font-size: 24px;
  margin-bottom: 5px;
}
.card-barca .trofeo-year {
  font-size: 16px;
}

.card-psg {
  background-color: rgb(38, 38, 211);
  text-align: center;
  margin: 10px;
  padding: 10px;
  flex: 1;
  color: #000;
  border-radius: 8px;
}
.card-psg p {
  color: #fff;
  font-weight: bold;
}
.card-psg .trofeo-name {
  font-size: 24px;
  margin-bottom: 5px;
}
.card-psg .trofeo-year {
  font-size: 16px;
}

.logo-trofeos {
  width: 95px;
  height: 150px;
  object-fit: contain;
  margin: 10px;
}
.logo-trofeos:hover {
  transition: 0.5s;
  transform: scale(1.1);
}

/* Estilos Contacto --------------------------------*/
.container-contacto {
  color: #fff;
  padding: 20px;
}

.container-gift {
  text-align: center;
  margin-bottom: 20px;
}
.container-gift img {
  max-width: 100%;
  height: auto;
  border-radius: 8px;
}

form {
  max-width: 500px;
  margin: 0 auto;
  padding: 20px;
  border-radius: 8px;
  color: #fff;
}

label {
  display: block;
  margin-bottom: 5px;
  font-size: 20px;
  font-weight: 600;
}

.label-input {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
}

.btn-form {
  background-color: #00bd00;
  margin: 5px;
  padding: 12px;
  border: none;
  border-radius: 8px;
  color: #fff;
  cursor: pointer;
  font-size: 16px;
  font-weight: bolder;
}
.btn-form:hover {
  transition: 0.8s;
  background-color: #008000;
}

/*# sourceMappingURL=estilo.css.map */
