// Variables
$white-color: #fff;
$black-color: #000;
$border-radius: 8px;

$grey-color: #707070;

// Mixins 
@mixin title-style {
  font-size: 1.4rem;
  color: $white-color;
  padding: 5px 5px;
  margin: 15px 0;
  font-weight: 400;
}

@mixin card-style($background-color) {
  text-align: center;
  margin: 10px;
  padding: 10px;
  flex: 1;
  color: $black-color;
  border-radius: $border-radius;

  p {
    color: $white-color;
    font-weight: bold;
  }
}

@mixin button-style {
  background-color: #00bd00;
  margin: 5px;
  padding: 12px;
  border: none;
  border-radius: $border-radius;
  color: $white-color;
  cursor: pointer;
  font-size: 16px;
  font-weight: bolder;
  
  &:hover {
    transition: 0.8s;
    background-color: #008000;
   }
}

/* Estilos generales */
* {
  margin: 0;
  padding: 0;
}

body {
  background-image: url("../assets/background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center top;
  background-attachment: fixed;
}

h1,
h2,
h3 {
  color: $white-color;
}

h1 {
  text-decoration: underline;
  font-weight: bold;
}

/* Estilos Header ------------------------ */
.logo-pagina {
  width: 4.688rem;
  height: 4.688rem;
  padding: 0;
  margin: 0;
}

.container-ul {
  display: flex;
}

main {
  margin: 10px;
  padding: 20px;
}

/* Estilos Footer ----------------------------------- */
.footer {
  background-color: $white-color;
  color: $black-color;
  padding: 20px 0;

  p {
    margin: 0;
    text-align: left;
    font-size: 18px;
  }

  .social-icons {
    list-style: none;
    padding: 0;
    margin: 0;
    text-align: center;

    li {
      display: inline-block;
      margin: 0 5px;
    }

    a {
      color: $black-color;
      font-size: 28px;
      margin: 5px 20px;

      &:hover {
        color: $grey-color;
      }
    }
  }

  @media (max-width: 767px) {
    .row {
      flex-direction: column-reverse;
    }

    .col-md-6 {
      width: 100%;
    }

    .social-icons {
      text-align: center;

      li {
        margin: 5px 0;
      }
    }
  }
}

/* Estilos btn-arrow-up */
.btn-arrow-up {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: rgb(98, 211, 255);
  color: $white-color;
  padding: 10px;
  border-radius: 50%;
  cursor: pointer;
  display: none;
}

/* Estilos Section Dorsales --------------------------------- */
.transform-class {

  &:hover {
    transform: scale(1.1);
    transition: 1s;
  }

  .container-img-dorsales {
    padding: 10px;
    background-color: $white-color;

    p {
      font-size: 20px;
      font-weight: bolder;
      font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    }
  }

  .img-dorsales {
    width: 380px;
    height: 280px;
  }
}

/* Estilos Section Video ------------------------------- */
.container-iframe {
  position: relative;
  padding-bottom: 56.25%;
  overflow: hidden;
  margin: 1.5rem;

  iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: $border-radius;
  }
}

/* Estilos Biografia ------------------------------------- */

.section-style-bio {
  h4 {
    text-decoration: underline;
    font-style: italic;
  }

  p {
    font-weight: bold;
  }
}

/* Estilos Estadisticas ------------------------------------ */
.section-stats {
  background-color: $white-color;
  padding: 20px;
  border-radius: 5px;
  margin-bottom: 20px;

  h3 {
    color: $black-color;
    font-size: 24px;
    margin-bottom: 10px;
    text-align: center;
  }

  .container-images {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
    margin-bottom: 10px;

    img {
      max-width: 100%;
      height: auto;
      border-radius: $border-radius;
      margin-bottom: 10px;
    }
  }

  table {
    border-collapse: collapse;
    margin-bottom: 10px;
  }

  .container-logo-stats {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;

    .logo-stats {
      max-width: 100%;
      height: auto;
      max-height: 200px;
      margin: 5px 0 10px 0;
      padding: 0;
    }
  }
}

/* Estilos Titulos -------------------------------- */
.section-introduccion {
  font-size: 1.4rem;
  color: $white-color;
  padding: 5px 5px;
  margin: 15px 0;
  font-weight: 400;

  p {
    font-weight: 500;
    font-style: italic;
  }
}

.section-titulos {
  background-color: $white-color;
  border-radius: 4px;
  margin: 50px 10px 20px 10px;
  padding: 10px;

  h2 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin: 20px 0 0 10px;
    color: $black-color;
  }
}

.cardTrofeo {
  text-align: center;
  margin: 10px;
  padding: 10px;
  flex: 1;
  color: $black-color;
  border-radius: $border-radius;

  p {
    color: $white-color;
    font-weight: bold;
  }

  .trofeo-name {
    font-size: 24px;
    margin-bottom: 5px;
  }

  .trofeo-year {
    font-size: 16px;
  }
}

/* Estilos diferentes para las cartas de cada equipo ------------ */
.card-arg {
  background-color: rgb(75, 185, 248);
}

.card-barca {
  background-color: rgb(228, 20, 20);
}

.card-psg {
  background-color: rgb(38, 38, 211);
}

.logo-trofeos {
  width: 95px;
  height: 150px;
  object-fit: contain;
  margin: 10px;

  &:hover {
    transition: 0.5s;
    transform: scale(1.1);
  }
}


/* Estilos Contacto --------------------------------*/
.container-contacto {
  color: $white-color;
  padding: 20px;
}

.container-gift {
  text-align: center;
  margin-bottom: 20px;

  img {
    max-width: 100%;
    height: auto;
    border-radius: $border-radius;
  }
}

form {
  max-width: 500px;
  margin: 0 auto;
}

label {
  display: block;
  margin-bottom: 5px;
  font-size: 20px;
  font-weight: bold;
}

.label-input {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
}

.btn-form {
  @include button-style;
}


