// Variables
$white-color: #fff;
$black-color: #000;
$border-radius: 8px;


// Mixins
@mixin trophy-card-style {
  text-align: center;
  margin: 10px;
  padding: 10px;
  flex: 1;
  color: $black-color;
  border-radius: $border-radius;

  p {
    color: $white-color;
    font-weight: bold;
  }

  .trofeo-name {
    font-size: 24px;
    margin-bottom: 5px;
  }

  .trofeo-year {
    font-size: 16px;
  }
}

@mixin button-style {
  background-color: #00bd00;
  margin: 5px;
  padding: 12px;
  border: none;
  border-radius: $border-radius;
  color: $white-color;
  cursor: pointer;
  font-size: 16px;
  font-weight: bolder;

  &:hover {
    transition: 0.8s;
    background-color: #008000;
  }
}

/* Import Partials */
@import 'header', 'footer';
@import 'index', 'biografia', 'stats', 'titulos', 'contacto';


/* Estilos generales */
* {
  margin: 0;
  padding: 0;
}

body {
  background-image: url("../assets/background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center top;
  background-attachment: fixed;
}

h1, h2, h3 {
  color: $white-color;
}

h1 {
  text-decoration: underline;
  font-weight: bold;
}


main {
  margin: 10px;
  padding: 20px;
}


/* Estilos btn-arrow-up */
.btn-arrow-up {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: rgb(98, 211, 255);
  color: $white-color;
  padding: 10px;
  border-radius: 50%;
  cursor: pointer;
  display: none;
}

